:root {
  --radius: 70;
  --book: block;
  --size: 50%;
}

body {
background-color: black;
color: white;
  user-select: none;
-webkit-user-select: none; /*Safari*/
-moz-user-select: none; /*Firefox*/
}

.settings {
top: 0;
left: 0;
position: fixed;
background-color: black;
padding: 20px;
border-bottom-right-radius: 15px;
opacity: 0;
-o-transition: opacity .2s ease-in-out;
-ms-transition: opacity .2s ease-in-out;
-moz-transition: opacity .2s ease-in-out;
-webkit-transition: opacity .2s ease-in-out;
transition: opacity .2s ease-in-out;
}

input[type=checkbox] {
  visibility: hidden;
  display: none;
}

.settings:hover {
opacity: 1;
}

.page {
display: block;
width: var(--size);
height: var(--size);
margin: 0 auto;
margin-bottom: 1%;
pointer-events: none;
}

.bigbox {
width: var(--radius);
margin: 0 auto;
}

.pagecontainer {
display: var(--book);
flex-wrap: wrap;
max-width: 100%;
margin: 0 auto;
}

hr {
margin: 15 15;
}
